.image-container {
    text-align: center;
    margin: 0; /* Remove a margem externa */
    padding: 0; /* Remove o preenchimento interno */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui o preenchimento e a borda na largura total do contêiner */
}
.image-container img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Faz com que a imagem ocupe toda a altura do contêiner (se o contêiner tiver uma altura definida) */
    object-fit: cover; /* Faz com que a imagem cubra completamente o contêiner, ajustando o tamanho da imagem conforme necessário */
    border-radius: 0; /* Remove o arredondamento das bordas para garantir que a imagem preencha o contêiner completamente */
}
